body {
  display: grid;
  gap: 2px;
  grid-template-rows: 1fr 5rem;
  grid-template-columns: 1fr 1.6fr 1fr;
  grid-template-areas:
    "lessn edit runr"
    "foot foot foot";
  height: 100vh;
  max-height: 100vh;
}

.lesson {
  grid-area: lessn;
}

.editor {
  grid-area: edit;
  overflow-y: auto;

  & .CodeMirror {
    height: 100%;
  }
}

.runner {
  grid-area: runr;
  background: var(--base);
  height: 100%;
  min-height: 100%;
  max-height: 100%;
  width: 100%;
  min-width: 0;
  max-width: 100%;
}

.footer {
  grid-area: foot;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  padding: 0.5rem;
  background: var(--mantle);
  font-size: 1.125rem;

  & > * {
    height: 4rem;
  }

  h1,
  h2 {
    font-size: 1.5rem;
    font-weight: inherit;
    padding: 0.5rem;
  }

  a {
    text-decoration: none;
    color: inherit;
  }
}

.flex {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
